@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

/* Globals */
:root {
    --green: #344D2F;
    --red: #A81817;
    --dk-red: #811f1f;
    --silver: #C8BEB9;
    --grey: #a8b2b6;
    --yellow: #FAC57D;
    --off-white: #f7f7f7;
    --dark: #181717;
}

    /* CSS Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    color: var(--dark);
}

#main-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: url("../images/tree_in_snow_landscape.jpg") no-repeat left top;
    background-size: cover;
    margin: 0;
    width: auto;
    max-width: none;
}

.mt-utility-x2 {
    margin-top: 2rem;
}

.mt-utility-x4 {
    margin-top: 4rem;
}

.mb-utility-x4 {
    margin-bottom: 4rem;
}

.custom-font {
    font-family: 'Fuzzy Bubbles', sans-serif;
}

    /* Navbar */
nav {
    -webkit-box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
            box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background-color: transparent;
    height: 100px;
}

.nav-wrapper::after {
    content: '';
    display: block;
    height: 90px;
    background-image: url(../images/tinsel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -45px;
    -webkit-filter: hue-rotate(315deg);
            filter: hue-rotate(315deg);
    pointer-events: none;
}

nav .sidenav-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    float: none;
}

nav .brand-logo {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: var(--dark);
}

nav .brand-logo i {
    height: inherit;
    margin-right: 10px;
    float: none;
    line-height: 94px;
}

#nav-mobile {
    height: inherit;
}

#nav-mobile li {
    height: inherit;
}

#nav-mobile li a {
    height: inherit;
    color: var(--dark);
    margin-right: 1rem;
    line-height: 94px;
    font-size: 1.2rem;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
            box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background-color: transparent;
}

.sidenav > li:not(:first-child) {
    margin-top: 4rem;
}

.sidenav-overlay {
    background-color: transparent;
}

#mobile-toggler li a {
    font-size: 1.4rem;
    text-align: center;
}

#mobile-toggler li a::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    margin: 2px auto;
    background-color: var(--dark);
}

.nav-wrapper a.sidenav-trigger {
    height: inherit;
}

.nav-wrapper a.sidenav-trigger i {
    font-size: 3rem;
    color: var(--red);
    line-height: 94px;
}

.sidenav-trigger i:hover{
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    color: var(--dk-red);
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    15% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    30% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
    45% {
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    60% {
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }
    75% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }
    85% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }
    92% {
        -webkit-transform: rotate(1deg);
                transform: rotate(1deg);
    }
    100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    15% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    30% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }
    45% {
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    60% {
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }
    75% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }
    85% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }
    92% {
        -webkit-transform: rotate(1deg);
                transform: rotate(1deg);
    }
    100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}

/*Flash Messages*/
.flash-messages {
    margin-top: 4rem;
}

/* Home page */
.main-content {
    color: var(--green);
    font-size: 1.3rem;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content p {
    font-weight: 400;
    margin: 5%;
}

.home-content {
    -webkit-box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
            box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    opacity: 0.85;
    color: var(--dark);
    border-radius: 15px;
    margin: 30% auto;
}

/* Login/Registration */
.user-form {
    margin-bottom: 4rem;
}

.user-form .card-panel {
    -webkit-box-shadow: inset 0 0 0 400px rgba(255,255,255,0.20);
            box-shadow: inset 0 0 0 400px rgba(255,255,255,0.20);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background-color: transparent;
    border-radius: 2rem;
    width: 90%;
    margin: 0 auto;
}

.user-form .card-panel .input-label {
    color: var(--dark);
}

/* Profile */
.card {
    background-color: transparent;
}

.card .card-content, .card .card-action {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 400px rgba(255,255,255,0.20);
            box-shadow: inset 0 0 0 400px rgba(255,255,255,0.20);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
}

/* Error 404 */
.error-message {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Fuzzy Bubbles', sans-serif;
}

/* Footer */

footer {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    color: var(--dark); 
    background-color: rgba(116, 135, 141, 0.3);
}

footer::before {
    content: '';
    display: block;
    height: 100px;
    background-image: url(../images/tinsel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -45px;
    -webkit-filter: hue-rotate(315deg);
            filter: hue-rotate(315deg);
}

.footer-title {
    font-family: 'Fuzzy Bubbles', sans-serif;
    text-align: center;
}

#dev-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dev {
    margin: 1rem 0;
}

.dev a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.4rem;
}

.dev a i {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 50%;
    border: none;
}

.dev a:hover i {
    color: rgb(248, 24, 218);
    background-color: transparent;
    -webkit-box-shadow: 10px 10px 70px 20px rgba(255,0,255,0.75);
            box-shadow: 10px 10px 70px 20px rgba(255,0,255,0.75);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.dev a:hover i.c2 {
    color: rgb(255, 174, 0);
    -webkit-box-shadow: 10px 10px 70px 20px rgba(255, 174, 0, 0.75);
            box-shadow: 10px 10px 70px 20px rgba(255, 174, 0, 0.75);
}

.dev a:hover i.c3 {
    color: rgb(21, 255, 0);
    -webkit-box-shadow: 10px 10px 70px 20px rgba(9, 255, 0, 0.75);
            box-shadow: 10px 10px 70px 20px rgba(9, 255, 0, 0.75);
}

.dev a:hover i.c4 {
    color: rgb(38, 0, 255);
    -webkit-box-shadow: 10px 10px 70px 20px rgba(17, 0, 255, 0.75);
            box-shadow: 10px 10px 70px 20px rgba(17, 0, 255, 0.75);
}

.dev a:hover i.c5 {
    color: rgb(0, 255, 170);
    -webkit-box-shadow: 10px 10px 70px 20px rgba(0, 255, 191, 0.75);
            box-shadow: 10px 10px 70px 20px rgba(0, 255, 191, 0.75);
}

#project-repo {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--dark);
}

#project-repo span {
    font-style: italic;
}

#project-repo::after {
    content: '';
    display: block;
    width: 10%;
    margin: 3px auto 0;
    height: 1px;
    background-color: var(--dk-red);
    opacity: 0;
}

#project-repo:hover::after {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.footer-text {
    font-style: italic;
    font-size: 1.2rem;
}

/* Media Queries */

@media (min-width: 992px) {
    /* Navbar */
    nav .brand-logo {
        margin-left: 1.5rem;
    }

    .nav-wrapper::after {
        top: 50px;
    }

    /* Footer */
    #dev-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    /* Login/Registration */
    .user-form .card-panel {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .nav-wrapper::after {
        height: 110px;
    }
}
