@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

/* Globals */
:root {
    --green: #344D2F;
    --red: #A81817;
    --dk-red: #811f1f;
    --silver: #C8BEB9;
    --yellow: #FAC57D;
    --off-white: #f0f4f7;
    --dark: #181717;
}

    /* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-container {
    flex: 1;
}

    /* Navbar */
nav {
    background-color: transparent;
    box-shadow: none;
    height: 100px;
}

.nav-wrapper::after {
    content: '';
    display: block;
    height: 90px;
    background-image: url(../images/tinsel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -5px;
    filter: hue-rotate(90deg);
}

nav .sidenav-trigger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: none;
}

nav .brand-logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: var(--dark);
}

nav .brand-logo i {
    margin-right: 10px;
    float: none;
}

#nav-mobile li a {
    color: var(--dark);
    margin-right: 1rem;
}

.sidenav-trigger i {
    font-size: 3rem;
    color: var(--red);
}

.sidenav-trigger i:hover{
    animation-name: shake;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    color: var(--dk-red);
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(4deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(2deg);
    }
    85% {
        transform: rotate(-2deg);
    }
    92% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0);
    }
}

    /* Error 404 */
.error-message {
    text-align: center;
}

/* Footer */

footer {
    background-color: transparent;
    color: var(--dark); 
}

footer::before {
    content: '';
    display: block;
    height: 90px;
    background-image: url(../images/tinsel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -5px;
    filter: hue-rotate(90deg);
}

.footer-title {
    font-family: 'Fuzzy Bubbles', sans-serif;
    text-align: center;
}

#dev-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dev {
    margin: 1rem 0;
}

.dev a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.4rem;
}

.dev a:hover {
    color: var(--dk-red);
}

.dev a i {
    opacity: 0;
    backface-visibility: hidden;
    border-radius: 50%;
    border: none;
}

.dev a:hover i {
    color: rgb(248, 24, 218);
    background-color: transparent;
    box-shadow: 10px 10px 70px 20px rgba(255,0,255,0.75);
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.dev a:hover i.c2 {
    color: rgb(255, 174, 0);
    box-shadow: 10px 10px 70px 20px rgba(255, 174, 0, 0.75);
}

.dev a:hover i.c3 {
    color: rgb(21, 255, 0);
    box-shadow: 10px 10px 70px 20px rgba(9, 255, 0, 0.75);
}

.dev a:hover i.c4 {
    color: rgb(38, 0, 255);
    box-shadow: 10px 10px 70px 20px rgba(17, 0, 255, 0.75);
}

.dev a:hover i.c5 {
    color: rgb(0, 255, 170);
    box-shadow: 10px 10px 70px 20px rgba(0, 255, 191, 0.75);
}

.footer-text {
    font-style: italic;
    font-size: 1.2rem;
}

/* Media Queries */



@media (min-width: 992px) {
    /* Navbar */
    nav .brand-logo {
        margin-left: 1.5rem;
    }

    .nav-wrapper::after {
        top: 60px;
    }

    /* Footer */
    #dev-list {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    .nav-wrapper::after {
        height: 110px;
    }
}
