{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 center-align">
            <h2 class="heading mt-utility-x4 custom-font">Create a Group</h2>
        </div>
    </div>
    <div class="row">
        <form class="col s12 user-form" method="POST" action="{{ url_for('add_group') }}">
            <div class="card-panel">
                <!--Group Name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-users prefix"></i>
                        <input id="group_name" name="group_name" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                        <label for="group_name" class="input-label">Create a Group Name</label>
                    </div>
                </div>
                <!--Submit Button-->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn-large" type="submit">
                        Create a Group <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}