{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12 center-align">
            <h2 class="text-center heading mt-utility-x4 custom-font">Add Wish</h2>
        </div>
    </div>

    <div class="row">
        <form class="col s12 user-form" method="POST" action="{{ url_for('add_wish') }}">
            <div class="card-panel">
                <!--Current User Group-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-users prefix"></i>
                        <input id="group_name" name="group_name" value="{{ user_group }}" disabled/>
                        <label for="group_name" class="input-label"></label>
                    </div>
                </div>
                <!--User Selection-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix"></i>
                        <select id="for_username" name="for_username" class="validate" required>
                            <option value="" disabled selected>Choose your team mate</option>
                            {% for user in users %}
                                <option value="{{ user.email }}">{{ user.email }}</option>
                            {% endfor %}
                        </select>
                        <label for="for_username" class="input-label">Select a team memeber</label>
                    </div>
                </div>
                <!--Message-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="message" name="message" minlength="5"
                            maxlength="200" class="materialize-textarea validate" required></textarea>
                        <label for="message" class="input-label">Write your wish</label>
                    </div>
                </div>
                <!--Due date picker-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix"></i>
                        <input id="for_date" name="for_date" type="text" class="datepicker validate" required>
                        <label for="for_date" class="input-label">Set the Date</label>
                    </div>
                </div>
                <!--Submit Button-->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn-large" type="submit">
                            Add a Wish <i class="fas fa-plus-square prefix"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}