{% extends "base.html" %}
{% block content %}

<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('register') }}">Register</a>

<div class="container home-content">
   <div class="row">
      <div class="col s12">
         <h1 class="center-align">Wishing tree</h1>
      </div>      
   </div>
   <div class="row">
      <div class="col s12">
         <h2 class="center-align">Send and receive love!</h2>
      </div>      
   </div>
   <div class="row">
      <div class="col s12 m6 offset-m3">
         <p>Wishing tree app is an advent wishing calendar. You  and your friends can write and send wishes to each other for every day until Christmas wherever you are.</p>
      </div>      
   </div>
   <div class="row">
      <div class="col offset-m8">
         <a class="waves-effect waves-light btn pulse">Login</a>
      </div>      
   </div>
</div>


{% endblock %}