{% extends "base.html" %}

{% block content %}

    <h2 class="center-align">Welcome to the wishing tree</h2>
    {% if wishes %}
    
      <div class="row">
        {% for wish in wishes %}
        <!--Product Review-->
        <div class="col s12 m4 l2">
          <div class="card">
            <div class="card-content">
              <h4 class="card-title">{{wish.message}}</h4>
              <p>From:{{wish.username_from}}</p>
            </div>
          </div>
        </div>
        {% else %}
        <!--If no wishes-->
        <div class="col s12">
          <h3>You have no wishes yet!</h3>
        </div>
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}