{% extends "base.html" %}

{% block content %}

    <h2 class="center-align">Welcome to the wishing tree</h2>

    <div class="row">
        <div class="col s1">1</div>
        <div class="col s1">2</div>
        <div class="col s1">3</div>
        <div class="col s1">4</div>
        <div class="col s1">5</div>
        <div class="col s1">6</div>
        <div class="col s1">7</div>
        <div class="col s1">8</div>
        <div class="col s1">9</div>
        <div class="col s1">10</div>
        <div class="col s1">11</div>
        <div class="col s1">12</div>
      </div>
      <div class="row">
        <div class="col s1">13</div>
        <div class="col s1">14</div>
        <div class="col s1">15</div>
        <div class="col s1">16</div>
        <div class="col s1">17</div>
        <div class="col s1">18</div>
        <div class="col s1">19</div>
        <div class="col s1">20</div>
        <div class="col s1">21</div>
        <div class="col s1">22</div>
        <div class="col s1">23</div>
        <div class="col s1">24</div>
      </div>
      <div class="row">
        <div class="col s1">25</div>
      </div>

{% endblock %}