<footer>
    <div class="container">
        <div class="row">
            <h5 class="col s12 footer-title">Meet the team:</h5>
        </div>

        <div class="row">
            <ul id="dev-list">
                <li class="dev">
                    <a href="https://github.com/marina601" target=_blank>
                        <i class="fas fa-circle"></i>Marina
                    </a>
                </li>
                <li class="dev">
                    <a href="https://github.com/AnaMelisaGo" target=_blank>
                        <i class="fas fa-circle c2"></i>Melisa
                    </a>
                </li>
                <li class="dev">
                    <a href="https://github.com/debbiect246" target=_blank>
                        <i class="fas fa-circle c3"></i>Deborah
                    </a>
                </li>
                <li class="dev">
                    <a href="https://github.com/ChrisT-CC" target=_blank>
                        <i class="fas fa-circle c4"></i>Chris
                    </a>
                </li>
                <li class="dev">
                    <a href="https://github.com/auxfuse" target=_blank>
                        <i class="fas fa-circle c5"></i>Anthony
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <a href="https://github.com/marina601/team11-CI-Christmas-Hackathon" id="project-repo" target=_blank>
                    🎁⚡<span>Project Repo</span>⚡🎁
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p class="center-align">🎄❄🎄 <span class="footer-text">This project was created for educational use only as part of Code Institute's 2021 Christmas Hackathon.</span> 🎄❄🎄</p>
            </div>
        </div>
    </div>
</footer>